{% extends "layout/base.html" %}
{% load truncate_filters %}

{% block title %}Fiona Bourdon - portfolio{% endblock %}
{% block og %}
    <meta property="og:title" content="Fiona Bourdon - portfolio"/>
    <meta property="og:site_name" content="Fiona Bourdon"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ ndd }}"/>
    <meta property="og:image" content="{{ ndd }}{{ photo.file.url_200x200 }}"/>
    <meta property="fb:admins" content="FionaXP329"/>
{% endblock %}

{% block content %}
    {% if photo %}
            <div id="photo">
                <img src="{{ photo.file.url_920x760 }}" />
            </div>
            
    {% endif %}
{% endblock %}

{% block footer %}
  {% if photo %}
    <h2>{{ photo.title }}</h2>

    <ul id="nav">
        {% if prev %}
        <li class="previous"><a href="{{ prev.get_absolute_url }}"
          title="Previous picture ({{ photo.created_at|date:"d M Y" }})">&laquo; {{ prev.title|truncate_chars:80 }}</a></li>
        {% endif %}
    </ul>
  {% endif %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/common.js"></script>
{% endblock %}
