<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    {% block og %}{% endblock %}

    <!--[if IE]>
    <script type="text/javascript">
            document.createElement("header");
            document.createElement("footer");
            document.createElement("section");
            document.createElement("aside");
            document.createElement("nav");
            document.createElement("article");
            document.createElement("figure");
            document.createElement("figcaption");
    </script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie&subset=latin' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/styles.css" />

    <link rel="alternate" title="Fiona Denton : Latest photos" type="application/atom+xml" href="{% url photoblog_latest_feed %}" />
</head>
<body {% block body_attributes %}{% endblock %}>
    <div id="wrapper">
        <header role="banner">
            <h1><a href="{% url photoblog_home %}">Fiona Denton</a></h1>
            
            <nav role="navigation">
            <a href="{% url photoblog_home %}">Home</a>
            <a href="{% url photoblog_archives %}">Archives</a>
            <a href="{% url photoblog_contact %}">Contact</a>
            <a id="subscribe" href="{% url photoblog_latest_feed %}">Subscribe</a>
            </nav>
        </header>
        
        <section role="main">
            {% block content %}{% endblock %}
        </section>
    </div>

    <footer>
        <section>
            {% block footer %}{% endblock %}

            <div id="mentions">
                <p>Fiona Denton&copy;2010, <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/2.0/fr/"><img alt="Contrat Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/2.0/fr/80x15.png" /></a><br />Toutes les photograpies sont sous licence <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/2.0/fr/">Creative Commons Paternité - Pas d'Utilisation Commerciale - Pas de Modification 2.0 France License</a>.</p>
            </div>
            
        </section>
    </footer>
    
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.4.min.js"></script>
    {% block extra_js %}{% endblock %}
    <!--[if IE]>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/styles-ie.css" />
    <![endif]-->
</body>
</html>
